[*.cs]

# CS0649: Полю "CarController.gasButton" нигде не присваивается значение, поэтому оно всегда будет иметь значение по умолчанию null.
dotnet_diagnostic.CS0649.severity = none

# IDE0044: Добавить модификатор только для чтения
dotnet_diagnostic.IDE0044.severity = none
